**INITIALIZATION:**
- I use these three lines of code on top of my each notebooks because it will help to prevent any problems while reloading the same project. And the third line of code helps to make visualization within the notebook.

In [1]:
#@ INITIALIZATION: 
%reload_ext autoreload
%autoreload 2
%matplotlib inline

**LIBRARIES AND DEPENDENCIES:**
- I have downloaded all the libraries and dependencies required for the project in one particular cell.

In [3]:
#@ INSTALLING DEPENDENCIES: UNCOMMENT BELOW: 
# !pip install -Uqq fastbook
# import fastbook
# fastbook.setup_book()

In [4]:
#@ DOWNLOADING LIBRARIES AND DEPENDENCIES: 
from fastbook import *                              # Getting all the Libraries. 
from fastai.callback.fp16 import *
from fastai.collab import *                         # Getting all the Libraries.
from fastai.tabular.all import *                    # Getting all the Libraries.

**GETTING THE DATASET:**
- I will use the subset of [**MovieLens**](https://grouplens.org/datasets/movielens/) dataset. The entire dataset contains tens of millions of movie rankings i.e a combination of a movie ID, a user ID and a numeric rating.

In [5]:
#@ GETTING THE DATASET: 
path = untar_data(URLs.ML_100k)                     # Getting Path to the Dataset. 
path.ls()                                           # Inspecting the Dataset.

(#23) [Path('/root/.fastai/data/ml-100k/ub.test'),Path('/root/.fastai/data/ml-100k/u2.test'),Path('/root/.fastai/data/ml-100k/u.genre'),Path('/root/.fastai/data/ml-100k/ua.base'),Path('/root/.fastai/data/ml-100k/README'),Path('/root/.fastai/data/ml-100k/u.info'),Path('/root/.fastai/data/ml-100k/u4.base'),Path('/root/.fastai/data/ml-100k/allbut.pl'),Path('/root/.fastai/data/ml-100k/u1.base'),Path('/root/.fastai/data/ml-100k/u.data')...]

In [6]:
#@ READING THE DATASET: 
ratings = pd.read_csv(path/"u.data", delimiter="\t", header=None, 
                      names=["user", "movie", "rating", "timestamp"])   # Reading the Dataset. 
ratings.head()                                                          # Inspecting the Dataset.

   user  movie  rating  timestamp
0   196    242       3  881250949
1   186    302       3  891717742
2    22    377       1  878887116
3   244     51       2  880606923
4   166    346       1  886397596

In [7]:
#@ INSPECTING THE COMBINATIONS: EXAMPLE: 
last_skywalker = np.array([0.98, 0.9, -0.9])                            # Initialization. 
user1 = np.array([0.9, 0.8, -0.6])                                      # Initialization. 
(user1*last_skywalker).sum()                                            # Getting Dot Product.

2.1420000000000003

**Dot Product:**
- The mathematical operation of multiplying the elements of two vectors together and then summing up the result is called **Dot Product**.

**CREATING DATALOADERS:**

In [8]:
#@ READING THE DATASET: MOVIE TITLES: 
movies = pd.read_csv(path/"u.item", delimiter="|", encoding="latin-1", 
                     usecols=(0, 1), names=("movie", "title"), 
                     header=None)                                       # Reading the Dataset. 
movies.head()                                                           # Inspecting the Dataset.

   movie              title
0      1   Toy Story (1995)
1      2   GoldenEye (1995)
2      3  Four Rooms (1995)
3      4  Get Shorty (1995)
4      5     Copycat (1995)

In [9]:
#@ MERGING THE DATAFRAMES: 
ratings = ratings.merge(movies)                                         # Merging the DataFrames. 
ratings.head()                                                          # Inspecting the DataFrame.

   user  movie  rating  timestamp         title
0   196    242       3  881250949  Kolya (1996)
1    63    242       3  875747190  Kolya (1996)
2   226    242       5  883888671  Kolya (1996)
3   154    242       3  879138235  Kolya (1996)
4   306    242       5  876503793  Kolya (1996)

In [10]:
#@ CREATING DATALOADERS: 
dls = CollabDataLoaders.from_df(ratings, item_name="title", bs=64)       # Initializing DataLoaders. 
dls.show_batch()                                                         # Inspecting the Batches.